{% extends  "dashboard_base.html" %}
{% block dashboard_contentBody %}
{% load static %}

    <div class="app-content content">
      <div class="content-wrapper">
        <div class="content-header row">
          <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
            <h3 class="content-header-title mb-0 d-inline-block">Add Expense</h3>
            <div class="row breadcrumbs-top d-inline-block">
              <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="index.html">Dashboard</a>
                  </li>
                  <li class="breadcrumb-item active">Add Expense
                  </li>
                </ol>
              </div>
            </div>
          </div>
<!--          <div class="content-header-right col-md-4 col-12 d-none d-md-inline-block">-->
<!--            <div class="btn-group float-md-right"><a class="btn-gradient-secondary btn-sm white" href="manage expenses.html">Buy now</a></div>-->
<!--          </div>-->
        </div>
        <div class="content-body"><div class="row">
    <div class="col-12 ">
        <!-- User Profile -->
        <section class="card">
            <div class="card-content">
                <div class="card-body">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-md-10 col-12">
                                <form class="form-horizontal form-user-profile row mt-2" action="/add-expense/" method="POST">
                                    {% csrf_token %}


                                     <div class="col-6">
                                        <fieldset class="form-label-group">
                                            <select id="Category" style="width:508px;height:43px;text-align:left;border-color:gray;border-radius:5px;" name="Category">
                                                <option>Category</option>
                                                <option value="Food" name="Food">Food</option>
                                                <option value="Travel" name="Travel">Travel</option>
                                                <option value="Shopping" name="Shopping">Shopping</option>
                                                <option value="Necessities" name="Necessities">Necessities</option>
                                                <option value="Entertainment" name="Entertainment">Entertainment</option>
                                                <option value="Personal spending" name="Personal spending">Personal spending</option>
                                                <option value="Medical" name="Medical">Medical</option>
                                                <option value="Insurance" name="Insurance">Insurance</option>
                                                <option value="Banking" name="Banking">Banking</option>
                                                <option value="Other" name="Other">Other</option>
                                            </select>
                                        </fieldset>
                                    </div>

                                     <div class="col-6">
                                        <fieldset class="form-label-group">
                                            <input type="text" class="form-control" id="expense_name" value=" " required="" autofocus="" style="border-color:gray;" name="expense_name">
                                            <label for="expense_name">Expense name</label>
                                        </fieldset>
                                    </div>

<!--                                    <div class="col-6">-->
<!--                                        <fieldset class="form-label-group">-->
<!--                                            <input type="text" class="form-control" id="expense_type" value=" " required="" autofocus="" style="border-color:gray;">-->
<!--                                            <label for="expense_type">Expense Type</label>-->
<!--                                        </fieldset>-->
<!--                                    </div>-->
                                    <div class="col-6">
                                        <fieldset class="form-label-group">
                                            <input type="number" class="form-control" id="amount" value=" " required="" autofocus="" style="border-color:gray;" name="amount">
                                            <label for="amount">Amount</label>
                                        </fieldset>
                                    </div>
                                    <div class="col-6">
                                        <fieldset class="form-label-group">

<!--                                            <input type="text" class="form-control" id="mode_of_payment"  required="" autofocus="" style="border-color:gray;" name="mode_of_payment">-->
<!--                                            <label for="mode_of_payment">Mode of Payment</label>-->

                                            <select id="mode_of_payment" style="width:508px;height:43px;text-align:left;border-color:gray;border-radius:5px;" name="mode_of_payment">
                                                <option>Mode_of_payment</option>
                                                <option value="Online" name="Online">Online</option>
                                                <option value="Offline" name="Offline">Offline</option>
                                            </select>

                                        </fieldset>
                                    </div>
                                    <div class="col-6">
                                        <fieldset class="form-label-group">
                                            <input type="date" class="form-control" id="date_of_expense" value=" " required="" autofocus="" style="border-color:gray;" name="date_of_expense">
                                            <label for="date_of_expense">Date of expense</label>
                                        </fieldset>
                                    </div>

<!--                                    <div class="col-6">-->
<!--                                        <fieldset class="form-label-group">-->
<!--                                            <input type="text" class="form-control" id="Country" value=" " required="" autofocus="">-->
<!--                                            <label for="Country">Country</label>-->
<!--                                        </fieldset>-->
<!--                                    </div>-->

<!--                                    <div class="col-6">-->
<!--                                        <fieldset class="form-label-group">-->
<!--                                            <input type="text" class="form-control" id="email-address" value=" " required="" autofocus="">-->
<!--                                            <label for="email-address">Email</label>-->
<!--                                        </fieldset>-->
<!--                                    </div>-->
                                    <div class="col-12 text-right">
                                        <button type="submit" class="btn-gradient-primary my-1">Add</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- ////////////////////////////////////////////////////////////////////////////-->
{% endblock %}