{% extends  "base.html" %}
{% block contentBody %}
{% load static %}

    <!-- Start Banner -->
    <div class="section inner_page_banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="banner_title">
                        <h3>Reset Password</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Banner -->

    <!-- section -->
    <div class="section layout_padding about_bg">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="full paddding_left_15">
                        <div class="heading_main text_align_left">
                           <h2>Reset Password</h2>
                        </div>
                    </div>
                    <div class="full paddding_left_15">

                        {% if messages %}
                                    {% for message in messages %}
                                    {% if message.tags == 'success'%}
                                    <div class="alert alert-success alert-dismissible fade show" role="alert" id="message_success">
                                        <strong>{{message}}</strong>
                                    </div>

                                    {% else %}
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert" id="message_error">
                                        <strong>{{message}}</strong>

                                    </div>
                                    {% endif %}
                                    {%endfor%}
                                    {% endif %}
<!--                        <div class="container" style="margin: 50px; text-align: center;">-->
<!--                            <div class="center">-->
                                <form action="/forgot/" method="POST">
                                    {% csrf_token %}
                                    <div class="text" style="text-align: left;">
                                    <label><b>Email</b></label>
                                    </div>
                                    <input class="input3" type= "email" placeholder= "Enter your Email Address" name="email">
                                    <br><br>
                                    <button type= "submit" >Submit</button>
                                </form>
                                <span class="psw" > <a href="/login/" style="text-decoration: none;">Login</a>
                                </span>
<!--                            </div>-->
<!--                        </div>-->
                </div>
                </div>
                    <div class="col-md-6">
                        <div class="full text_align_right_img">
                            <img src="{% static 'images/forgot.jpg'%}" style="height:400px;width:400px;padding-top:20px;"alt="#" />
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <!-- end section -->



{% endblock %}