   body1 {
                font-family: Arial;
                color:black;
                background-color: pink;
            }
            .input1[type=text],
            .input2[type=password],
            .input3[type=email] {
                width: 100%;
                padding: 12px 20px;
                margin: 8px 0;
                display: inline-block;
                border: 1px solid #ccc;
                box-sizing: border-box;
            }
            button {
                background-color: #ff880e;
                color: white;
                padding: 14px 20px;
                margin: 8px 0;
                border: none;
                cursor: pointer;
                width: 100%;
            }

            button:hover {
                opacity: 0.8;
            }



            .container {
                padding: 16px;
                color: black;
            }
            span.psw {
                float: right;
                padding-top: 16px;
                text-decoration: none;
            }
            .center1{
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            }


            #content {
                overflow:auto;
                width: 100%;
                background:pink;
                color: black;
            }

            #left {
                /* width: 50%;  */

                padding-top: 1em;
                background:pink;
            }
            #right {
                width: 55%;
                padding-top: 160px;
                padding-right: 150px;
                background: pink;
            }


            #left  { float:left; }
            #right { float:right; }

            .content{padding:20px;}